* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin: 50px;
}

/* Container */
.container {
  display: grid;
  gap: 10px;
}

/* Header */
.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(img/levi.png);
  background-size: cover;
  background-position: center;
  padding: 50px;
}

.hero > * {
  display: none;
}

.features {
  background-color: black;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/daeyun.png);
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/ymir.png);
  background-size: cover;
}

.features .price {
  font-size: 3em;
  font-weight: 200px;
}

/* Navigation */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  background-color: #000;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Services */

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.service {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 2px solid #aaa;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200px;
  letter-spacing: 1px;
  font-size: 0.9em;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 80px;
  gap: 5px;
  border: 5px solid black;
}

.gallery h2 {
  /* grid-column-start: 1;
  grid-column-end: -1; */
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    background-color: black;
    color: white;
    height: bold;
    border: 5px 5px rgb(0, 0, 0.8);
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
  body {
    margin: 15px;
  }

  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
}
